/* line 17, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Color */
/* Fonts */
/* Scaffolding */
/* Header */
/* ConfortaaRegular */
@font-face {
  font-family: "ConfortaaRegular";
  src: url("../fonts/Confortaa/Comfortaa_Regular-webfont.eot");
  src: url("../fonts/Confortaa/Comfortaa_Regular-webfont.eot?#iefix") format("eot"), url("../fonts/Confortaa/Comfortaa_Regular-webfont.woff") format("woff"), url("../fonts/Confortaa/Comfortaa_Regular-webfont.ttf") format("truetype"), url("../fonts/Confortaa/Comfortaa_Regular-webfont.svg#ConfortaaRegular") format("svg");
}

/* ConfortaaThin */
@font-face {
  font-family: "ConfortaaThin";
  src: url("../fonts/Confortaa/Comfortaa_Thin-webfont.eot");
  src: url("../fonts/Confortaa/Comfortaa_Thin-webfont.eot?#iefix") format("eot"), url("../fonts/Confortaa/Comfortaa_Thin-webfont.woff") format("woff"), url("../fonts/Confortaa/Comfortaa_Thin-webfont.ttf") format("truetype"), url("../fonts/Confortaa/Comfortaa_Thin-webfont.svg#ConfortaaThin") format("svg");
}

/* ConfortaaBold */
@font-face {
  font-family: "ConfortaaBold";
  src: url("../fonts/Confortaa/Comfortaa_Bold-webfont.eot");
  src: url("../fonts/Confortaa/Comfortaa_Bold-webfont.eot?#iefix") format("eot"), url("../fonts/Confortaa/Comfortaa_Bold-webfont.woff") format("woff"), url("../fonts/Confortaa/Comfortaa_Bold-webfont.ttf") format("truetype"), url("../fonts/Confortaa/Comfortaa_Bold-webfont.svg#ConfortaaBold") format("svg");
}

/* line 1, ../sass/partials/_scaffolding.sass */
html {
  height: 100%;
}

/* line 3, ../sass/partials/_scaffolding.sass */
body {
  background-color: #292829;
  font: 14px "ConfortaaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  color: #f5f0ec;
}

/* line 8, ../sass/partials/_scaffolding.sass */
a {
  color: #f5f0ec;
  text-decoration: none;
  outline: none;
}
/* line 12, ../sass/partials/_scaffolding.sass */
a:hover {
  text-decoration: underline;
  pointer: cursor;
}

/* line 15, ../sass/partials/_scaffolding.sass */
p {
  margin: 0 0 1.2em;
  padding: 0;
  text-align: justify;
  text-justify: newspaper;
}

/* line 20, ../sass/partials/_scaffolding.sass */
ul, ol {
  margin: 1em 0 1.4em 24px;
  padding: 0;
  line-height: 9px;
}

/* line 24, ../sass/partials/_scaffolding.sass */
li {
  margin: 0 0 0.5em 0;
  padding: 0;
}

/* line 27, ../sass/partials/_scaffolding.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 25.2px;
  margin: 20px 0 0.4em;
}

/* line 30, ../sass/partials/_scaffolding.sass */
h1 {
  font-size: 28px;
}

/* line 32, ../sass/partials/_scaffolding.sass */
h2 {
  font-size: 22.4px;
}

/* line 34, ../sass/partials/_scaffolding.sass */
h2 {
  font-size: 19.6px;
}

/* line 36, ../sass/partials/_scaffolding.sass */
h3 {
  font-size: 16.8px;
}

/* line 38, ../sass/partials/_scaffolding.sass */
h4 {
  font-size: 15.4px;
}

/* line 41, ../sass/partials/_scaffolding.sass */
input[type=search] {
  -webkit-appearance: none;
  outline: none;
}

/* line 44, ../sass/partials/_scaffolding.sass */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* line 48, ../sass/partials/_scaffolding.sass */
#wrap {
  min-height: 100%;
  position: relative;
}
/* line 51, ../sass/partials/_scaffolding.sass */
#wrap #separator {
  height: 7px;
  margin: 0;
  background-color: #999999;
  border: 0 none;
}
/* line 56, ../sass/partials/_scaffolding.sass */
#wrap #container {
  min-height: 300px;
  position: relative;
  width: 840px;
  margin: 20px auto 0;
  padding-bottom: 100px;
  overflow: hidden;
  *zoom: 1;
}
/* line 37, ../sass/mixins.sass */
#wrap #container:before, #wrap #container:after {
  display: table;
  content: "";
}
/* line 40, ../sass/mixins.sass */
#wrap #container:after {
  clear: both;
}
/* line 64, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow, #wrap #container #right-arrow {
  width: 40px;
  height: 40px;
  position: fixed;
  -webkit-border-radius: 22.5px;
  -moz-border-radius: 22.5px;
  -ms-border-radius: 22.5px;
  -o-border-radius: 22.5px;
  border-radius: 22.5px;
  border: 4px solid #151515;
  background-color: #555555;
  cursor: pointer;
}
/* line 72, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow span, #wrap #container #right-arrow span {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 40px;
  vertical-align: middle;
  font: 21px "ConfortaaBold";
  margin-top: 8px;
}
/* line 82, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow:hover, #wrap #container #right-arrow:hover {
  border: 4px solid #444444;
  background-color: #151515;
}
/* line 85, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow:hover span, #wrap #container #right-arrow:hover span {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 89, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow {
  margin: 15% 0 85% -90px;
  background: url("../images/left-arrow.png") no-repeat center center;
}
/* line 92, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow span {
  right: 0;
}
/* line 94, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow:hover span {
  right: 60px;
}
/* line 96, ../sass/partials/_scaffolding.sass */
#wrap #container #right-arrow {
  margin: 15% 0 85% 900px;
  background: url("../images/right-arrow.png") no-repeat center center;
}
/* line 99, ../sass/partials/_scaffolding.sass */
#wrap #container #right-arrow span {
  left: 0;
}
/* line 101, ../sass/partials/_scaffolding.sass */
#wrap #container #right-arrow:hover span {
  left: 60px;
}
/* line 103, ../sass/partials/_scaffolding.sass */
#wrap #container #page {
  width: 20000px;
  margin: auto;
  position: relative;
  left: 0;
}
/* line 108, ../sass/partials/_scaffolding.sass */
#wrap #container #page .content {
  width: 840px;
  height: 90%;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
}
/* line 7, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#wrap #container #page .content {
  *display: inline;
}
/* line 113, ../sass/partials/_scaffolding.sass */
#wrap #container #page .content h1 {
  font: 42px "ConfortaaThin";
  text-align: center;
}
/* line 117, ../sass/partials/_scaffolding.sass */
#wrap #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

@media screen and (max-width: 798px) {
  /* line 125, ../sass/partials/_scaffolding.sass */
  body > section {
    width: 95%;
  }
  /* line 127, ../sass/partials/_scaffolding.sass */
  body > section #content {
    padding: 3% 0;
  }
}
/* line 1, ../sass/partials/_header.sass */
#header {
  margin: 0 auto;
  width: 840px;
  position: relative;
  height: 80px;
}
/* line 6, ../sass/partials/_header.sass */
#header h1 {
  margin: 0;
  padding-top: 10px;
  font: 42px "ConfortaaBold";
}
/* line 10, ../sass/partials/_header.sass */
#header h1 span {
  font: 35px "ConfortaaThin";
  vertical-align: top;
}
/* line 13, ../sass/partials/_header.sass */
#header h1 a:hover {
  text-decoration: none;
  cursor: pointer;
}
/* line 16, ../sass/partials/_header.sass */
#header #nav {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18.2px;
}
/* line 21, ../sass/partials/_header.sass */
#header #nav ul {
  margin: 0;
  padding-top: 35px;
}
/* line 24, ../sass/partials/_header.sass */
#header #nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#header #nav ul li {
  *display: inline;
}
/* line 29, ../sass/partials/_header.sass */
#header #nav ul li a {
  color: #f5f0ec;
  padding: 10px;
  text-decoration: none;
}
/* line 33, ../sass/partials/_header.sass */
#header #nav ul li a:hover {
  cursor: pointer;
  color: white;
  text-shadow: #dddddd 0px 0px 20px;
}

/* line 2, ../sass/partials/_home.sass */
#home h1 {
  margin: 20px auto 70px;
  font-size: 56px !important;
}
/* line 5, ../sass/partials/_home.sass */
#home p {
  font-size: 21px;
}
/* line 7, ../sass/partials/_home.sass */
#home #list-social-media {
  margin-left: 530px;
  margin-top: -25px;
}
/* line 10, ../sass/partials/_home.sass */
#home #list-social-media li {
  list-style-type: circle;
}
/* line 12, ../sass/partials/_home.sass */
#home #list-social-media li a {
  font-size: 21px;
  line-height: 19.8px;
}
