/* line 17, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Color */
/* Fonts */
/* Scaffolding */
/* Header */
/* ConfortaaRegular */
@font-face {
  font-family: "ConfortaaRegular";
  src: url("../fonts/Confortaa/Comfortaa_Regular-webfont.eot");
  src: url("../fonts/Confortaa/Comfortaa_Regular-webfont.eot?#iefix") format("eot"), url("../fonts/Confortaa/Comfortaa_Regular-webfont.woff") format("woff"), url("../fonts/Confortaa/Comfortaa_Regular-webfont.ttf") format("truetype"), url("../fonts/Confortaa/Comfortaa_Regular-webfont.svg#ConfortaaRegular") format("svg");
}

/* ConfortaaThin */
@font-face {
  font-family: "ConfortaaThin";
  src: url("../fonts/Confortaa/Comfortaa_Thin-webfont.eot");
  src: url("../fonts/Confortaa/Comfortaa_Thin-webfont.eot?#iefix") format("eot"), url("../fonts/Confortaa/Comfortaa_Thin-webfont.woff") format("woff"), url("../fonts/Confortaa/Comfortaa_Thin-webfont.ttf") format("truetype"), url("../fonts/Confortaa/Comfortaa_Thin-webfont.svg#ConfortaaThin") format("svg");
}

/* ConfortaaBold */
@font-face {
  font-family: "ConfortaaBold";
  src: url("../fonts/Confortaa/Comfortaa_Bold-webfont.eot");
  src: url("../fonts/Confortaa/Comfortaa_Bold-webfont.eot?#iefix") format("eot"), url("../fonts/Confortaa/Comfortaa_Bold-webfont.woff") format("woff"), url("../fonts/Confortaa/Comfortaa_Bold-webfont.ttf") format("truetype"), url("../fonts/Confortaa/Comfortaa_Bold-webfont.svg#ConfortaaBold") format("svg");
}

/* PlaytimeWithHotToddiesRegular */
@font-face {
  font-family: "PlaytimeWithHotToddiesRegular";
  src: url("../fonts/PlaytimeWithHotToddies/playtime-webfont.eot");
  src: url("../fonts/PlaytimeWithHotToddies/playtime-webfont.eot?#iefix") format("eot"), url("../fonts/PlaytimeWithHotToddies/playtime-webfont.woff") format("woff"), url("../fonts/PlaytimeWithHotToddies/playtime-webfont.ttf") format("truetype"), url("../fonts/PlaytimeWithHotToddies/playtime-webfont.svg#PlaytimeWithHotToddiesRegular") format("svg");
}

/* PlaytimeWithHotToddies3DRg */
@font-face {
  font-family: "PlaytimeWithHotToddies3DRg";
  src: url("../fonts/PlaytimeWithHotToddies/PlaytimeWithHotToddies3D-webfont.eot");
  src: url("../fonts/PlaytimeWithHotToddies/PlaytimeWithHotToddies3D-webfont.eot?#iefix") format("eot"), url("../fonts/PlaytimeWithHotToddies/PlaytimeWithHotToddies3D-webfont.woff") format("woff"), url("../fonts/PlaytimeWithHotToddies/PlaytimeWithHotToddies3D-webfont.ttf") format("truetype"), url("../fonts/PlaytimeWithHotToddies/PlaytimeWithHotToddies3D-webfont.svg#PlaytimeWithHotToddies3DRg") format("svg");
}

/* line 1, ../sass/partials/_scaffolding.sass */
html {
  height: 100%;
}

/* line 3, ../sass/partials/_scaffolding.sass */
body {
  background: url("../images/background.jpg") #292829;
  font: 14px "PlaytimeWithHotToddiesRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  color: #f5f0ec;
}

/* line 8, ../sass/partials/_scaffolding.sass */
a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s false;
  color: #f5f0ec;
  text-decoration: none;
  outline: none;
}
/* line 13, ../sass/partials/_scaffolding.sass */
a:hover {
  text-decoration: underline;
  pointer: cursor;
}

/* line 16, ../sass/partials/_scaffolding.sass */
p {
  margin: 0 0 1.2em;
  padding: 0;
  text-align: justify;
  text-justify: newspaper;
}

/* line 21, ../sass/partials/_scaffolding.sass */
ul, ol {
  margin: 1em 0 1.4em 24px;
  padding: 0;
  line-height: 9px;
}

/* line 25, ../sass/partials/_scaffolding.sass */
li {
  margin: 0 0 0.5em 0;
  padding: 0;
}

/* line 28, ../sass/partials/_scaffolding.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.4em;
}

/* line 30, ../sass/partials/_scaffolding.sass */
h1 {
  font-size: 46.2px;
  line-height: 59.4px;
}

/* line 33, ../sass/partials/_scaffolding.sass */
h2 {
  font-size: 25.2px;
  line-height: 32.4px;
  margin-bottom: 0;
  font-family: "ConfortaaRegular";
}

/* line 38, ../sass/partials/_scaffolding.sass */
h3 {
  font-size: 15.4px;
  line-height: 19.8px;
  font-style: italic;
}

/* line 42, ../sass/partials/_scaffolding.sass */
h4 {
  font-size: 14px;
}

/* line 44, ../sass/partials/_scaffolding.sass */
strong {
  font-family: "ConfortaaBold";
}

/* line 46, ../sass/partials/_scaffolding.sass */
abbr {
  color: white;
  cursor: help;
}

/* line 49, ../sass/partials/_scaffolding.sass */
img {
  max-width: 100%;
  height: auto;
  width: auto\9 ;
}

/* line 54, ../sass/partials/_scaffolding.sass */
input[type=search] {
  -webkit-appearance: none;
  outline: none;
}

/* line 57, ../sass/partials/_scaffolding.sass */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* line 59, ../sass/partials/_scaffolding.sass */
hr {
  border-style: dashed;
  margin-top: 0;
}

/* line 63, ../sass/partials/_scaffolding.sass */
#wrap {
  min-height: 100%;
  position: relative;
}
/* line 66, ../sass/partials/_scaffolding.sass */
#wrap #separator {
  height: 5px;
  margin: 0;
  background-color: #999999;
  border: 0 none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.5);
}
/* line 72, ../sass/partials/_scaffolding.sass */
#wrap #container {
  min-height: 300px;
  position: relative;
  max-width: 840px;
  margin: 20px auto 0;
  padding-bottom: 100px;
  overflow: hidden;
  *zoom: 1;
}
/* line 37, ../sass/mixins.sass */
#wrap #container:before, #wrap #container:after {
  display: table;
  content: "";
}
/* line 40, ../sass/mixins.sass */
#wrap #container:after {
  clear: both;
}
/* line 80, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow, #wrap #container #right-arrow {
  width: 40px;
  height: 40px;
  position: fixed;
  -webkit-border-radius: 22.5px;
  -moz-border-radius: 22.5px;
  -ms-border-radius: 22.5px;
  -o-border-radius: 22.5px;
  border-radius: 22.5px;
  border: 4px solid #151515;
  background-color: #555555;
  cursor: pointer;
}
/* line 88, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow span, #wrap #container #right-arrow span {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 40px;
  vertical-align: middle;
  font: 16.8px "ConfortaaBold";
  margin-top: 8px;
}
/* line 98, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow:hover, #wrap #container #right-arrow:hover {
  border: 4px solid #444444;
  background-color: #151515;
}
/* line 101, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow:hover span, #wrap #container #right-arrow:hover span {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 105, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow {
  margin: 15% 0 85% -90px;
  background: url("../images/left-arrow.png") no-repeat center center;
}
/* line 108, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow span {
  right: 0;
}
/* line 110, ../sass/partials/_scaffolding.sass */
#wrap #container #left-arrow:hover span {
  right: 60px;
}
/* line 112, ../sass/partials/_scaffolding.sass */
#wrap #container #right-arrow {
  margin: 15% 0 85% 890px;
  background: url("../images/right-arrow.png") no-repeat center center;
}
/* line 115, ../sass/partials/_scaffolding.sass */
#wrap #container #right-arrow span {
  left: 0;
}
/* line 117, ../sass/partials/_scaffolding.sass */
#wrap #container #right-arrow:hover span {
  left: 60px;
}
/* line 119, ../sass/partials/_scaffolding.sass */
#wrap #container #page {
  width: 5000px;
  margin: auto;
  position: relative;
  left: 0;
}
/* line 124, ../sass/partials/_scaffolding.sass */
#wrap #container #page .content {
  width: 820px;
  padding: 10px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
}
/* line 7, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#wrap #container #page .content {
  *display: inline;
}
/* line 129, ../sass/partials/_scaffolding.sass */
#wrap #container #page .content h1 {
  font-family: "PlaytimeWithHotToddies3DRg";
  margin: 0 0 30px;
  text-align: center;
}
/* line 133, ../sass/partials/_scaffolding.sass */
#wrap #container #page .content hr {
  margin-right: 20px;
}
/* line 136, ../sass/partials/_scaffolding.sass */
#wrap #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

@media screen and (max-width: 820px) {
  /* line 144, ../sass/partials/_scaffolding.sass */
  p {
    margin-right: 25px;
  }
}
/* line 1, ../sass/partials/_header.sass */
#header {
  margin: 0 auto;
  max-width: 840px;
  position: relative;
  height: 80px;
}
/* line 6, ../sass/partials/_header.sass */
#header h1 {
  margin: 0;
  padding-top: 10px;
  font: 42px "ConfortaaBold";
}
/* line 10, ../sass/partials/_header.sass */
#header h1 span {
  font: 35px "ConfortaaThin";
  vertical-align: top;
}
/* line 13, ../sass/partials/_header.sass */
#header h1 a:hover {
  text-decoration: none;
  cursor: pointer;
  text-shadow: white 0px 0px 20px;
}
/* line 17, ../sass/partials/_header.sass */
#header h1 a:hover span {
  text-shadow: none;
}
/* line 19, ../sass/partials/_header.sass */
#header h1 a:hover span:hover {
  text-shadow: white 0px 0px 20px;
}
/* line 21, ../sass/partials/_header.sass */
#header #nav {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 22.4px;
}
/* line 26, ../sass/partials/_header.sass */
#header #nav ul {
  margin: 0;
  padding-top: 35px;
}
/* line 29, ../sass/partials/_header.sass */
#header #nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#header #nav ul li {
  *display: inline;
}
/* line 34, ../sass/partials/_header.sass */
#header #nav ul li a {
  color: #f5f0ec;
  padding: 10px;
  text-decoration: none;
}
/* line 38, ../sass/partials/_header.sass */
#header #nav ul li a:hover {
  cursor: pointer;
  color: white;
  text-shadow: white 0px 0px 20px;
}

@media screen and (max-width: 800px) {
  /* line 44, ../sass/partials/_header.sass */
  #header #nav {
    top: 20px;
  }
}
@media screen and (max-width: 700px) {
  /* line 47, ../sass/partials/_header.sass */
  #header {
    height: 95px;
  }
  /* line 49, ../sass/partials/_header.sass */
  #header h1 {
    text-align: center;
    margin-bottom: 5px;
  }
  /* line 52, ../sass/partials/_header.sass */
  #header #nav {
    position: relative;
  }
  /* line 54, ../sass/partials/_header.sass */
  #header #nav ul {
    margin: auto;
    padding: 0;
    margin-top: -15px;
    text-align: center;
  }
}
@media screen and (max-width: 590px) {
  /* line 60, ../sass/partials/_header.sass */
  #header {
    height: 115px;
  }
  /* line 64, ../sass/partials/_header.sass */
  #header #nav ul li {
    height: 25px;
  }
}
@media screen and (max-width: 360px) {
  /* line 67, ../sass/partials/_header.sass */
  #header {
    height: 135px;
  }
}
/* line 2, ../sass/partials/_home.sass */
#home h1 {
  margin: 20px auto 50px;
  font-size: 55.3px !important;
}
/* line 5, ../sass/partials/_home.sass */
#home p {
  font-size: 21px;
}
/* line 7, ../sass/partials/_home.sass */
#home #list-social-media {
  float: right;
  margin-right: 40px;
  margin-top: -25px;
}
/* line 11, ../sass/partials/_home.sass */
#home #list-social-media li {
  list-style-type: circle;
}
/* line 13, ../sass/partials/_home.sass */
#home #list-social-media li a {
  font-size: 21px;
  line-height: 19.8px;
}

/* line 2, ../sass/partials/_formation.sass */
#formation > article {
  margin-bottom: 20px;
  *zoom: 1;
}
/* line 37, ../sass/mixins.sass */
#formation > article:before, #formation > article:after {
  display: table;
  content: "";
}
/* line 40, ../sass/mixins.sass */
#formation > article:after {
  clear: both;
}
/* line 5, ../sass/partials/_formation.sass */
#formation > article .image {
  float: left;
  padding: 10px;
  background-color: white;
  width: 20%;
  height: 90px;
  text-align: center;
  margin: 5px 20px 13px 0;
  -webkit-box-shadow: 0 0 3px rgba(37, 24, 24, 0.5) inset, 0 0 2px white;
  -moz-box-shadow: 0 0 3px rgba(37, 24, 24, 0.5) inset, 0 0 2px white;
  box-shadow: 0 0 3px rgba(37, 24, 24, 0.5) inset, 0 0 2px white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #888888;
}
/* line 17, ../sass/partials/_formation.sass */
#formation > article .formation h2 {
  margin-bottom: 5px;
  text-decoration: underline;
}
/* line 20, ../sass/partials/_formation.sass */
#formation > article .formation h3 {
  font-style: italic;
}
/* line 22, ../sass/partials/_formation.sass */
#formation > article .formation label, #formation > article .formation span {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#formation > article .formation label, #formation > article .formation span {
  *display: inline;
}

@media screen and (max-width: 640px) {
  /* line 27, ../sass/partials/_formation.sass */
  #formation > article .image {
    height: 75px !important;
  }
  /* line 29, ../sass/partials/_formation.sass */
  #formation > article .image > img {
    max-height: 75px;
  }
}
@media screen and (max-width: 480px) {
  /* line 34, ../sass/partials/_formation.sass */
  #formation > article .image {
    height: 50px !important;
  }
  /* line 36, ../sass/partials/_formation.sass */
  #formation > article .image > img {
    max-height: 50px;
  }
}
/* line 2, ../sass/partials/_experience.sass */
#experience > article {
  margin-bottom: 20px;
  *zoom: 1;
}
/* line 37, ../sass/mixins.sass */
#experience > article:before, #experience > article:after {
  display: table;
  content: "";
}
/* line 40, ../sass/mixins.sass */
#experience > article:after {
  clear: both;
}
/* line 5, ../sass/partials/_experience.sass */
#experience > article .image {
  float: left;
  background-color: white;
  overflow: hidden;
  width: 35%;
  height: 230px;
  text-align: center;
  margin: 5px 20px 15px 0;
  -webkit-box-shadow: 0 0 3px rgba(37, 24, 24, 0.5) inset, 0 0 2px white;
  -moz-box-shadow: 0 0 3px rgba(37, 24, 24, 0.5) inset, 0 0 2px white;
  box-shadow: 0 0 3px rgba(37, 24, 24, 0.5) inset, 0 0 2px white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #888888;
}
/* line 17, ../sass/partials/_experience.sass */
#experience > article .experience h2 {
  margin-bottom: 5px;
  text-decoration: underline;
}
/* line 20, ../sass/partials/_experience.sass */
#experience > article .experience h3 {
  font-style: italic;
}

@media screen and (max-width: 760px) {
  /* line 25, ../sass/partials/_experience.sass */
  #experience > article .image {
    height: 150px !important;
  }
}
@media screen and (max-width: 650px) {
  /* line 30, ../sass/partials/_experience.sass */
  #experience > article .image {
    height: 100px !important;
  }
}
@media screen and (max-width: 500px) {
  /* line 35, ../sass/partials/_experience.sass */
  #experience > article .image {
    height: 80px !important;
    margin-bottom: 15px;
  }
}
/* line 2, ../sass/partials/_skill.sass */
#skills .skill {
  margin: 0 1.4% 20px;
  width: 30%;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
}
/* line 7, ../../../../lib/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#skills .skill {
  *display: inline;
}
/* line 7, ../sass/partials/_skill.sass */
#skills .skill h2 {
  text-align: center;
  text-decoration: none;
}
/* line 10, ../sass/partials/_skill.sass */
#skills .skill > div {
  border: 1px dashed #f5f0ec;
  padding: 10px;
  -webkit-box-shadow: 0 0 3px rgba(249, 247, 247, 0.5) inset, 0 0 3px rgba(249, 247, 247, 0.5);
  -moz-box-shadow: 0 0 3px rgba(249, 247, 247, 0.5) inset, 0 0 3px rgba(249, 247, 247, 0.5);
  box-shadow: 0 0 3px rgba(249, 247, 247, 0.5) inset, 0 0 3px rgba(249, 247, 247, 0.5);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/* line 15, ../sass/partials/_skill.sass */
#skills .skill > div > div {
  min-height: 22px;
}
/* line 17, ../sass/partials/_skill.sass */
#skills .skill > div > div .star {
  float: right;
}
/* line 19, ../sass/partials/_skill.sass */
#skills .skill > div > div .star .star1, #skills .skill > div > div .star .star2, #skills .skill > div > div .star .star3 {
  width: 15px;
  height: 14px;
  background-image: url("../images/star.png");
  background-repeat: no-repeat;
  float: left;
}
/* line 25, ../sass/partials/_skill.sass */
#skills .skill > div > div .star .star1 {
  background-position: 0 top;
}
/* line 27, ../sass/partials/_skill.sass */
#skills .skill > div > div .star .star2 {
  background-position: -15px top;
}
/* line 29, ../sass/partials/_skill.sass */
#skills .skill > div > div .star .star3 {
  background-position: -30px top;
}

@media screen and (max-width: 680px) {
  /* line 33, ../sass/partials/_skill.sass */
  #skills .skill {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
  /* line 37, ../sass/partials/_skill.sass */
  #skills .skill {
    width: 80%;
    margin: 0 10% 10px;
  }
}
