#header
	:margin 0 auto
	:max-width $globalWidth
	:position relative
	:height 80px
	h1
		:margin 0
		:padding-top 10px
		:font $baseFontSize*3 "ConfortaaBold"
		span
			:font $baseFontSize*2.5 "ConfortaaThin"
			:vertical-align top
		a:hover
			:text-decoration none
			:cursor pointer
			@include text-shadow($white 0px 0px 20px)
			span
				@include text-shadow(none)
				&:hover
					@include text-shadow($white 0px 0px 20px)
	#nav 
		:position absolute
		:right 0
		:top 0
		:font-size $baseFontSize*1.6
		ul
			margin: 0
			padding-top: 35px
			li
				:margin 0
				:padding 0
				:list-style none
				@include inline-block()
				a
					:color $textColor
					:padding 10px
					:text-decoration none
					&:hover
						:cursor pointer
						:color $white
						@include text-shadow($white 0px 0px 20px)
@media screen and (max-width: 800px)
	#header
		#nav
			:top 20px
@media screen and (max-width: 700px)
	#header
		:height 95px
		h1
			:text-align center
			:margin-bottom 5px
		#nav
			:position relative
			ul
				:margin auto
				:padding 0
				:margin-top -15px
				:text-align center
@media screen and (max-width: 590px)
	#header
		:height 115px
		#nav
			ul
				li
					:height 25px
@media screen and (max-width: 360px)
	#header
		:height 135px