#home
	h1
		:margin 20px auto 50px
		:font-size $baseFontSize*3.95 !important
	p
		:font-size $baseFontSize*1.5
	#list-social-media
		:float right
		:margin-right 40px
		:margin-top -25px
		li
			:list-style-type circle
			a
				:font-size $baseFontSize*1.5
				:line-height $baseLineHeight*1.1