#home
	h1
		:margin 20px auto 70px
		:font-size $baseFontSize*4 !important
	p
		:font-size $baseFontSize*1.5
	#list-social-media
		:margin-left 530px
		:margin-top -25px
		li
			:list-style-type circle
			a
				:font-size $baseFontSize*1.5
				:line-height $baseLineHeight*1.1